<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="BrokerAddress" value="192.168.11.92" />
    <add key="BrokerPort" value="1883" />
    <add key="BrokerAccessClientId" value="da885912-adcc-4639-a271-5c56a0371d74" />
    <add key="BrokerKeepAlivePeriod" value="3600" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>